<footer class="footer">

	<div class="wrap footer-cta">

		<div class="sm-span-6">
			<h3 class="displayMedium">Get started with Populi</h3>
			<p class="paragraphLarge">Your Populi account manager can answer questions, show you a demo or set you up with a Populi trial account. We can help you figure out if Populi is right for you.</p>
		</div>
		<div class="sm-span-6 sm-start-7">
			<p><a href="/get-a-demo" class="button button-large">Get a Demo</a></p>
		</div>

	</div>

	<div class="wrap footer-menu">

		<div class="sm-span-12 md-span-6">
			<a href="{{ site.baseurl }}/" class="footer-logo">
				<img src="{{ site.data.settings.footer_settings.logo_image | relative_url }}" class="footer__logo__img">
			</a>

			<div class="footer-menu-1">
				<ul>
					<li><a href="/features">Features</a></li>
					<li><a href="/for-everyone">For Everyone</a></li>
					<li><a href="/customers">Customers</a></li>
					<li><a href="/pricing">Pricing</a></li>
					<li><a href="/get-a-demo">Get a Demo</a></li>
				</ul>
			</div>
			<div class="footer-menu-2">
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="https://support.populiweb.com/hc/en-us">Knowledge Base</a></li>
					<li><a href="https://www.youtube.com/c/populico">Videos</a></li>
					<!-- <li><a href="#">Webinars</a></li> -->
				</ul>
			</div>
			
		</div>

		<div class="sm-span-12 md-span-6 md-start-7">
			<div class="footer-newsletter">
				<form action="/signup/newsletter.php" onsubmit="return false" id="newsletter_form" autocomplete="off">
					<h6>Get the Populi Newsletter</h6>
					<div class="newsletter_input">
						<input class="newsletter_email" type="email" name="email" placeholder="Enter Your Email" /><a class="button" id="newsletterSignupButton" onclick="newsletterSignup(); return false;">Subscribe</a>
						<input type="submit" onclick="newsletterSignup(); return false;" />
						{% include anti_spam.html %}
					</div>
				</form> 
				<p class="newsletter_signup_confirm">
					Thanks for signing up! Check your inbox for a confirmation email.
				</p>
				<p class="newsletter_signup_error">
					There was a problem adding you to the list. Please try again later.
				</p>
			</div>

			<div class="footer-social">
				<p><strong>Connect with us</strong></p>

				{% include socials.html %}
			</div>
		</div>
		

	</div>

	<div class="footer-copyright wrap">
		<div class="sm-span-12">
			{% for item in site.data.settings.menu_settings.legal_menu_items %}
			<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
			{% endfor %}
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
		</div>
	</div>

</footer>