<header class="header">

	<div class="wrap">

		<div class="sm-span-4">
			{% if site.data.settings.header_settings.logo_image %}
			<a href="{{ site.baseurl }}/" class="header-logo">
				<img src="{{ site.data.settings.header_settings.logo_image }}" class="header-logo-img">
			</a>
			{% else %}
			<a href="{{ site.baseurl }}/" class="header-title">
				{{ site.data.settings.basic_settings.site_title }}
			</a>
			{% endif %}
		</div>

		<div class="menu sm-span-8 sm-start-5">
			<div class="menu-toggle js-menu-toggle">
				<div class="menu-toggle-icon"><span></span></div>
			</div>
			<div class="menu-wrap">
				<ul class="menu-list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu-list-item">
						<a href="{{ item.url | relative_url }}" class="menu-list-item-link {% if item.button %} button button--light {% endif %}">{{ item.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

	</div>

</header>