---
layout: default
title: Blog
featured_image: /images/social.jpg
---


<section class="blog">

	<div class="wrap">

		<div class="sm-span-12">

			{% for post in paginator.posts %}

			{% assign downauthor = post.author | downcase %}
			{% assign author = site.data.settings.authors[downauthor] %}

			<article class="post">
				<h3 class="displayMedium"><a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h3>
				<div class="byline clear">
					{% if author %}
						<div class="byline-pic {{ author.profile_image_class }}"></div>
						<span>{{ author.first_name }} wrote this on {{ post.date | date: "%B %-d" }}{{ post.date | ordinal }}, {{ post.date | date: "%Y" }}</span>
					{% endif %}
				</div>
				<div class="entry clear">
					{{ post.content }}
				</div>
			</article>

			{% endfor %}


		</div>

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		<div class="sm-span-6">
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | relative_url }}" class="button button--light pagination__next">Older Posts</a>
			{% endif %}
		</div>

		<div class="sm-span-6 sm-start-7">
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--light pagination__prev">Newer Posts</a>
			{% endif %}
		</div>

	</div>

</section>

{% endif %}