// - - - - - - - - - - - - - - - - - -

// Header + menu

// - - - - - - - - - - - - - - - - - -


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Header

.header {
	padding-top: 40px;
	padding-bottom: 40px;

	@include mq(tabletp) {
		padding-top: 44px;
		padding-bottom: 44px;
	}

}

.header-logo {
	display: block;
	width: $logo-width;

	@include mq(tabletp) {
		float: left;
	}
}

.header-logo-img {
	width: 100%;
	height: auto;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Menu

.menu {
	
	@include mq(tabletl) {
		position: absolute;
		top: 20px;
		right: 0;
		@include translate(0,-50%);
	}
}

.menu-toggle {
	position: absolute;
	z-index: 10002;
	top: 50%;
	right: 30px;
	@include translate(0,-50%);
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	color: $text-dark-color;

	@include mq(tabletp) {
		right: 0;
	}
	
	@include mq(tabletl) {
		display: none;
	}
}

.menu-toggle-icon {
	float: right;
	position: relative;
	width: 24px;
	height: 20px;
	margin-left: 8px;

	span, span:before, span:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		height: 3px;
		@include transition(all 0.1s);
		background: $text-dark-color;
	}

	span:before {
		top: -8px;
	}

	span:after {
		top: 8px;
	}
}

.menu--open {
	overflow: hidden;
 
	.menu-toggle-icon {

		span:before, span:after {
			background: $text-dark-color !important;
		}
			
		span {
			background-color: transparent !important;
		}
		
		span:before,
		span:after {
			top: 0;
		}
		
		span:before {
			@include rotate(45);
		}

		span:after {
			@include rotate(-45);
		}
	}
}

.menu-wrap {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $background-color;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;

	@include mq(tabletl) {
		position: relative;
		background: transparent;
		visibility: visible;
		overflow: visible;
		opacity: 1;
		@include transition(none);
	}
}

.menu--open .menu-wrap {
	visibility: visible;
	opacity: 1;
}

.menu-list {
	list-style: none;
	margin: 0 auto;
	padding: 32px;
	max-width: 100%;

	@include mq(tabletp) {
		padding: 40px 40px 0;
	}

	@include mq(tabletl) {
		max-width: none;
		margin: 0;
		padding: 0;
	}
}

.menu-list-item {
	font-family: $title-font;
	transition: none;

	@include mq(tabletl) {
		font-family: $body-font;
		display: inline-block;
		margin-left: 20px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.menu-list-item-link {
	font-size: 40px;
	font-weight: 500;
	color: $text-dark-color;
	padding: 12px 0;
	margin-bottom: 32px;

	&:hover {
		color: $accent-color;
	}

	&.button {
		background: transparent;
		border-color: transparent;
		margin: 0;

		@include mq(tabletl) {
			margin: 0;
			padding: 10px 16px;
			border-color: $accent-color;
			font-weight: 500;

			&:hover {
				color: $text-dark-color;
				background: $accent-color;
			}
		}

	}

	@include mq(tabletl) {
		padding: 0 0 3px;
		font-size: 16px;
		color: $text-dark-color;
		border-bottom: 2px solid transparent;

		&:hover {
			color: $accent-color;
		}
	}

	@include mq(laptop) {
		font-size: 16px;
	}
	
	&.active-link {
		color: $overlay-accent-color;

		@include mq(tabletl) {
			color: $text-dark-color;
			border-color: $accent-color;
		}
	}
}

.menu-button {
	margin-top: 15px;
	padding: 15px 20px 16px;
	font-size: 13px;

	@include mq(tabletl) {
		margin-top: 0;
		padding: 11px 20px 12px;
		font-size: 15px;
	}
}

.buttons--circular {

	.menu-button {
		border-radius: 24px;

		@include mq(tabletl) {
			border-radius: 21px;
		}
	}
}
