// - - - - - - - - - - - - - - - - - -

// Socials

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Socials

.socials {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

.socials-item {
	display: inline-block;
	margin-left: 2px;

	&:first-child {
		margin-left: 0;
	}
}

.socials-item-link {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: transparent;
	font-size: 17px;
	line-height: 1;
	color: $accent-color;

	@include mq(tabletp) {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-52%);
	}

	&:hover {
		background: $accent-color;
		color: $text-dark-color;
	}
}